# Android Studio/IntelliJ
*.iml
/.idea/*
!.idea/inspectionProfiles
!.idea/codeStyles

# Build output
/build/
/captures/
/.externalNativeBuild/
/cxx/

# Gradle
.gradle/
/local.properties

# macOS
.DS_Store
